body {
    background-image: url(./assets/background.jpg);
    /* background-color: cornflowerblue; */
    background-repeat: no-repeat;
    width: 100%; 
    font-family: 'Source Sans Pro', sans-serif;
}


/***
 *    ----    ---- ------------    ------    ----------   ------------ -----------  
 *    ****    **** ************   ********   ************ ************ ***********  
 *    ----    ---- ----          ----------  --        -- ----         ----    ---  
 *    ************ ************ ****    **** **        ** ************ *********    
 *    ------------ ------------ ------------ --        -- ------------ ---------    
 *    ****    **** ****         ************ **        ** ****         ****  ****   
 *    ----    ---- ------------ ----    ---- ------------ ------------ ----   ----  
 *    ****    **** ************ ****    **** **********   ************ ****    **** 
 *                                                                                  
 */

.inicio {
    text-align: center;
}

.inicio h1 {
    font-size: 5em;
    text-shadow: 5px 5px 5px black;
    color:#f4a261;
}

.inicio img {
    border-radius: 50%;
    border: black 5px solid;
    width: 7rem;
    height: 7rem;
}

.inicio figcaption {
    color:#f4a261;
}

/***
 *      ********      ------    --------  ----    ---- 
 *     ----------    ********   ********  *****   **** 
 *    ************  ----------    ----    ------  ---- 
 *    ---  --  --- ****    ****   ****    ************ 
 *    ***  **  *** ------------   ----    ------------ 
 *    ---  --  --- ************   ****    ****  ****** 
 *    ***  **  *** ----    ---- --------  ----   ----- 
 *    ---      --- ****    **** ********  ****    **** 
 *                                                     
 */

 /* usando o word-wrap */
.minha-introducao {
    font-size: 1.5rem;
    text-align: justify;
    word-wrap:  normal;
    color: #e9c46a;
  
}

/* mais de um seletor pra uma propriedade */
main h2, #melhores-desenhos p {
    color: #e76f51;
}
div ul, div ol, div h2, div p {
    margin-left: 40%;
    margin-top: 1rem;
}
/* Usando seletores de especificidade "id" só para fazer variação do seletor */

#meus-hobbies, #melhores-desenhos {
    border: black 1px solid;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
#meus-hobbies li {
    list-style-type: none;
    text-transform: lowercase;
    color: #264653;
    
}
#melhores-desenhos li {
    
    list-style-type: none;
    text-transform: uppercase;
    color: #e9c46a;
    
}

/***
 *    ------------   --------     --------   ------------ ------------ -----------  
 *    ************  **********   **********  ************ ************ ***********  
 *    ----         ----    ---- ----    ---- ------------ ----         ----    ---  
 *    ************ ***      *** ***      ***     ****     ************ *********    
 *    ------------ ---      --- ---      ---     ----     ------------ ---------    
 *    ****         ****    **** ****    ****     ****     ****         ****  ****   
 *    ----          ----------   ----------      ----     ------------ ----   ----  
 *    ****           ********     ********       ****     ************ ****    **** 
 *                                                                                  
 */
footer div h3,footer div a{
    color: #2a9d8f;
    margin-left: 40rem;
}