body {
    background-image: url(./assets/background.jpg);
    /* caso não seja aceito o uso de background-image o background-color:  ta aqui em baixo */
    /* background-color: cornflowerblue; */
    background-repeat: no-repeat;
    width: 100%; 
    font-family: 'Source Sans Pro', sans-serif;
}


/***
 *    ----    ---- ------------    ------    ----------   ------------ -----------  
 *    ****    **** ************   ********   ************ ************ ***********  
 *    ----    ---- ----          ----------  --        -- ----         ----    ---  
 *    ************ ************ ****    **** **        ** ************ *********    
 *    ------------ ------------ ------------ --        -- ------------ ---------    
 *    ****    **** ****         ************ **        ** ****         ****  ****   
 *    ----    ---- ------------ ----    ---- ------------ ------------ ----   ----  
 *    ****    **** ************ ****    **** **********   ************ ****    **** 
 *                                                                                  
 */

h1{
    font-weight: 300;
}

/***
 *      ********      ------    --------  ----    ---- 
 *     ----------    ********   ********  *****   **** 
 *    ************  ----------    ----    ------  ---- 
 *    ---  --  --- ****    ****   ****    ************ 
 *    ***  **  *** ------------   ----    ------------ 
 *    ---  --  --- ************   ****    ****  ****** 
 *    ***  **  *** ----    ---- --------  ----   ----- 
 *    ---      --- ****    **** ********  ****    **** 
 *                                                     
 */
.formulario{
    text-align: right;
    margin-right: 2rem;
}
.formulario label{
    color: #264653;
}
.butao{
    border: 2px black solid;
    border-radius: 20%;
    background-color:  #e9c46a;
    color: white;
    height: 2rem;
    width: 4rem;
}

/***
 *    ------------   --------     --------   ------------ ------------ -----------  
 *    ************  **********   **********  ************ ************ ***********  
 *    ----         ----    ---- ----    ---- ------------ ----         ----    ---  
 *    ************ ***      *** ***      ***     ****     ************ *********    
 *    ------------ ---      --- ---      ---     ----     ------------ ---------    
 *    ****         ****    **** ****    ****     ****     ****         ****  ****   
 *    ----          ----------   ----------      ----     ------------ ----   ----  
 *    ****           ********     ********       ****     ************ ****    **** 
 *                                                                                  
 */
footer div h3,footer div a{
    color: #2a9d8f;
    margin-left: 40rem;
}